body {
    margin: 0;
    padding: 0;

}

.btntnt {
    color: hsl(180, 100%, 28%);
    margin-top: 10px;
    margin-right: 30px;
}
.heading1 {
    color: #ff00f5;
    margin-left: 30px;
    line-height: 3;
}
.Apppp .firebaseui-idp-list {
    list-style: none;
    margin: 1em 0;
    padding: 0;
    margin-top: 30%;
    margin-bottom: 40px;
    box-shadow: 30px 30px 30px 30px rgba(219, 219, 219, 0.226);
}

.Apppp .firebaseui-idp-button {
    direction: ltr;
    font-weight: 500;
    height: auto;
    line-height: normal;
    max-width: 300px;
    min-height: 70px;
    padding: 8px 16px;
    text-align: left;
    width: 100%;
}

.gdgjkdsn {
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: 0px 30px 30px 30px #0a1218;
    background-color: #0a1218;
}

.Apppp .firebaseui-idp-text {
    color: #fff;
    display: table-cell;
    font-size: 16px;
    padding-left: 16px;
    text-transform: none;
    vertical-align: middle;
}